{% extends 'base.html.twig' %}

{% block title %}Création d'un événement
{% endblock %}

{% block body %}
	<div class="text-center mt-4 mb-4">
			<h1 style="font-weight: bold; color: #fd9c0d;">Création d'un événement</h1>
		</div>
	{% if error is not null %}
		<div class="alert alert-danger text-center" role="alert">
			{{error}}
		</div>
	{% endif %}
	{{ form_start(form) }}
		<div class="row">
			{% set columns = 2 %}
			{% set colSize = 12 / columns %}

			<div class="col-md-{{ colSize }} text-md-center col-form register-col">
				{{ form_widget(form.title) }}
			</div>
				<div class="col-md-{{ colSize }}  text-md-center col-form register-col">
				{{ form_label(form.startDate, 'Date de début') }}
				{{ form_widget(form.startDate) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-center col-form register-col mt-4">
				{{ form_widget(form.description) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-center col-form register-col mt-4">
				{{ form_label(form.endDate, 'Date de fin') }}
				{{ form_widget(form.endDate) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-center col-form register-col mt-4 mb-5">
				{{ form_widget(form.location) }}
			</div>
		</div>
		<div class="text-center mt-5 mb-5">
			<button type="submit" class="btn btn-lg btn-primary w-100 p-3" style="margin-top:2rem">Créer l'événement</button>
		</div>
	{{ form_end(form) }}
{% endblock %}
