{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="mb-4" style="font-weight: bold; color: #fd9c0d;">Accueil</h1>
		<div class="d-flex justify-content-center">
			<img src="https://media-mcetv.ouest-france.fr/wp-content/uploads/2018/10/Sant%C3%A9-faire-la-f%C3%AAte-augmente-votre-esp%C3%A9rance-de-vie-grande.jpg"/>
		</div>
		<p class="w-100 p-3 d-flex justify-content-center mt-4">Où sortir en Hauts-de-France ? Retrouvez tous nos événements : sportifs, festifs, culturels et gastronomiques. L’agenda est mis à jour régulièrement pour vous permettre de partager au mieux l’esprit de notre région.</p>
		
		<div class="container d-flex justify-content-center mb-5">
			<form class="row">
				<p>
					<input type="date" name="startDate" />
					<input type="date" name="endDate" />
					<button type="submit" class="btn btn-primary">Filtrer</button>
				</p>
			</form>
		</div>
		
		<div class="row row-cols-1 row-cols-md-3 mx-auto">
		{% for event in events %}
			<div class="col mb-4">
				<div class="card border-secondary mb-3">
				<div class="card-header" style="background-color: #37474F; color: #fd9c0d" >{{ event.title }}</div>

				<div class="card-body text-secondary">
					<p class="card-text offer-card-text">
						à
						{{ event.location }}
					</p>
					<p class="card-text offer-card-text">
						du
						{{ event.startDate|date('d/m/Y H:i') }}
						au
						{{ event.endDate|date('d/m/Y H:i') }}
					</p>
				</div>
				{% if is_granted('ROLE_USER') %}
					{% if user in event.attendees %}
						<a href="{{ path('attending_no', {id:event.id}) }}">
							<button class="btn btn-lg btn-danger w-100 p-3" style="margin-top:2rem">Se désinscrire</button>
						</a>
					{% else %}
						<a href="{{ path('attending_yes', {id:event.id}) }}">
							<button class="btn btn-lg btn-primary w-100 p-3" style="margin-top:2rem">S'inscrire</button>
						</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
