{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<h1>Accueil</h1>
	    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-md-3 mx-auto">
        {% for event in events %}
          <div class="col mb-4">
            <div class="card border-secondary mb-3 offer-cards">
              <div class="card-header offer-header">{{ event.title }}</div>

              <div class="card-body text-secondary">
                <p class="card-text offer-card-text">
                  <i class="bi bi-file-person-fill"></i>
				  à
                  {{ event.location }}
                </p>
                <p class="card-text offer-card-text">
                  <i class="bi bi-currency-exchange"></i>
				  du
                  {{ event.startDate|date('d/m/Y H:i') }}
                  au
                  {{ event.endDate|date('d/m/Y H:i') }}
                </p>
              </div>
              {% if user in event.attendees %}
                <a href="{{ path('attending_no', {id:event.id}) }}">
                  <button class="btn btn-lg btn-danger" style="margin-top:2rem">Se désinscrire</button>
                </a>
              {% else %}
                <a href="{{ path('attending_yes', {id:event.id}) }}">
                  <button class="btn btn-lg btn-primary" style="margin-top:2rem">S'inscrire</button>
                </a>
              {% endif %}
            <!-- 
             -->
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
